body {
    background: #2c84b0;
    font-family: 'Open Sans',
        Arial,
        Helvetica,
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar {
    margin-top: 10px;
}

.navbar-brand {
    margin: 0 auto;
}

.navbar-brand img {
    width: 240px;
}

.opacity {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
}

.weather-day-icon {
    width: 100px;
    display: block;
    margin: 0 auto;
}

#current-weather-icon {
    width: 70px;
    display: block;
}
